/* You can add global styles to this file, and also import other style files */

// @import '../../components/ng-osmo.dark.scss';
@import '../../components/ng-osmo.scss';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
