
$ngo-prefix: 'ngo';

$layout-prefix-cls: '#{$ngo-prefix}-layout';

.#{$layout-prefix-cls} {
  display: flex;

  &-vertical {
    flex-direction: row;
  }

  &-horizontal {
    flex-direction: column;
  }

  &-resizer {
    background-color: #cbd5e0;

    &-vertical {
      cursor: col-resize;
      height: 100%;
      width: 2px;
    }

    &-horizontal {
      cursor: row-resize;
      height: 2px;
      width: 100%;
    }
  }
}
